@if(map-get($modules, 'rating') == 1){
.rating{
  @if($isFloat == 1){
    display: inline-block;
  } @else if($isFlex == 1){
    display:flex;
  }
  @at-root #{&}Wrap{

  }
  @at-root #{&}__item{
    cursor: pointer;
    font-size:0;
    text-align: center;
    @if($isFloat == 1){
      display:flex;
    }
    &:not(:last-child){
      @include calc-rem('margin-right', $baseline / 2);
    }
    &:before{
      @include font-size($font-size + 9);
      color: #FFC94A;
    }
    &.active{
      &:before{
        content: '\ece5';
      }
    }
  }
}
}