@if(map-get($modules, 'navbar')==1) {
  .navbar{
    @at-root #{&}__container{
      padding: 0 calculateRem($gutter);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgb(0, 0, 35%);
    }

    @at-root #{&}__logo{
      img{
        max-width: calculateRem(150px);
      }
    }

    @at-root #{&}__list{
      display: flex;
      flex-flow: row wrap;
    }

    @at-root #{&}__sublist{
      white-space: nowrap;
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgb(0, 0, 35%);
      position: absolute;
      z-index: 1;
      opacity: 0;
      top: calc(100% + 10px);
      transition: opacity 0.25s, top 0.25s;
    }

    @at-root #{&}__item{
      padding: $baseline / 2;
      &:hover, &:focus, &:active{
        .navbar__sublist{
          opacity: 1;
          top: 100%;
          transition: opacity 0.25s, top 0.25s;
        }
      }
      @at-root #{&}--has-sublist{
        position: relative;
      }

      @at-root .navbar__sublist #{&}{
        &:not(:last-child){
          padding-bottom: 0;
        }
      }
    }

    @at-root #{&}__link{
      display: block;
      text-decoration: none;
    }

    @at-root #{&}__title{
      font-weight: normal;
    }
  }

  .actions{
    @at-root #{&}__container{

    }
  }
}