@if(map-get($modules, 'modal') == 1){
.modal{
  position: fixed;
  z-index: 100;
  @include fly('center');
  top: 60%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s, visibility 0.25s, top 0.25s;
  @include calc-rem('padding', $baseline / 2);
  @at-root [data-drivenby="js"].active #{&}{
    top:50%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.25s, visibility 0.25s, top 0.25s;
  }
  @at-root #{&}Wrap{
    position: relative;
    @at-root #{&}[data-drivenby="css"]{
      input[type="checkbox"]{
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
        height: 1px;
        width: 1px;
        &:checked{
          & ~ .modal{
            top:50%;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transition: opacity 0.25s, visibility 0.25s, top 0.25s;
          }
        }
      }
    }
    &:before{
      content: '';
      position: fixed;
      z-index: 5;
      @include fly('top-left');
      @include is('page-wide');
      opacity:0;
      visibility: hidden;
      pointer-events: none;
      background-color: rgba(0,0,0, 0.6);
    }
    &.active{
      &:before{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: opacity 0.25s, visibility 0.25s;
      }
    }
  }
  @at-root #{&}__header{
    position: relative;
  }
  @at-root #{&}__close{
    position: absolute;
    @include fly('top-right');
    font-size: 0;
    &:before{
      @include font-size($font-size);
    }
  }
  @at-root #{&}__body{
  }
  @at-root #{&}__content{
  }
  @at-root #{&}__footer{

  }
}
}