//SR text
.is\:sr-only{
  @include hide-text;
}
//Hide completely the element
.is\:hidden{
  @include hide-block;
}
//Hide everything on IE
.ie-notice{
  position: fixed;
  @include fly('center');
  @include is('page-wide');
  text-align: center;
  & ~ * {
    opacity: 0;
    visibility: hidden;
  }
}
