//Mobile
@media screen and (max-width:768px){
  @if($isFractionBased == 1){
    .row {
      [class*="is"]{
        width:100%;
      }
      [class*="is-half"]{
        width:50%;
      }
    }
  } @else if($isColumnBased == 1){
    .row {
      [class*="span"]{
        flex: 0 0 100%;
      }
      [class*="span:#{#{nth($columnName, ($columns / 2))}}"]{
        flex: 0 0 50%;
      }
    }
  }
  .wrapper{
    max-width: map-get($wrapperWidths, 'mobile');
  }
}
//Tablet
@media screen and (min-width:768px) and (max-width: 1024px){
  .wrapper{
    max-width: map-get($wrapperWidths, 'tablet');
  }
  @if($isFractionBased == 1){
    .row {
      @each $element, $fraction in $fractions {
        @if($isFloat == 1){
          .tablet\:#{$element}{
            width: $fraction;
          }
        } @else if($isFlex == 1){
          .tablet\:#{$element}{
            flex: 0 0 $fraction;
          }
        }
      }
    }
  } @else if($isColumnBased == 1){
    .row {
      @for $i from 1 through $columns {
        .tablet\:#{nth($columnName, $i)}{
          @if($isFloat == 1){
            width: (100% / $columns) * $i;
          } @else if($isFlex == 1){
            flex: 0 0 (100% / $columns) * $i;
          }
        }
      }
    }
  }
}