@if(map-get($modules, 'list') == 1){
.list{
  list-style-type: none;
  @at-root #{&}Wrap{

  }
  @at-root #{&}--disc{
    list-style-type: disc;
  }
  @at-root .nav #{&}, .wizard #{&}{
    list-style-type: none;
    @if($isFlex == 1){
      display:flex;
    } @else if($isFloat == 1){
      display: inline-block;
    }
  }
  @at-root .wizard #{&}{
    @if($isFlex == 1){
      justify-content: center;
    } @else if($isFloat == 1){
      text-align: center;
    }
  }
  @at-root .list__item--has-children #{&}{
    position: absolute;
    z-index: 5;
    min-width: 120px;
    background-color: #fff;
    @include drop-shadow();
    opacity: 0;
    top: 80%;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out, visibility 0.25s ease-in-out;
  }
  @at-root #{&}__item{
    &:not(:last-child){
      @include calc-rem('margin-bottom', $baseline / 2);
    }
    @at-root .nav #{&}, .wizard #{&}{
      @if($isFloat == 1){
        display:inline-block;
      }
      margin-bottom: 0;
      @include calc-rem('padding', $baseline / 2);
    }
    @at-root #{&}--has-children{
      position: relative;

      .list {
        display: flex;
        flex-flow: row wrap;
      }

      &:hover,
      &:focus {
        .list {
          opacity: 1;
          top: 100%;
          visibility: visible;
          transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out, visibility 0.25s ease-in-out;
        }
      }

      .list__item {
        width: 100%;
        padding: 0;

        .list__link {
          @include calc-rem('padding', $baseline / 2);
        }
      }
    }
  }
  @at-root #{&}__link{
    display:block;
  }
  @at-root #{&}__title{
    @include font-size($font-size);
    margin-bottom: 0;
    line-height: 1;
    @at-root .nav #{&}{
      margin-top: 0;
    }
  }
}
}