@if(map-get($modules, 'table') == 1){
.table{
  @if($isFlex == 1){
    flex: 1;
  } @else if($isFloat == 1){
    width:100%;
  }
  &.table__striped{
    .table__head:nth-child(odd):not(:first-child), tbody .table__row:nth-child(odd){
      background-color: #f4f4f4;
    }
  }
  @at-root #{&}Wrap{
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    @if($isFlex == 1){
      display:flex;
      @include flow('row', 'nowrap');
    }
  }
  @at-root #{&}__row{

  }
  @at-root #{&}__head, #{&}__cell{
    @include calc-rem('padding', $baseline / 2);
    border: 1px solid map-get($colors, 'border');
  }
  @at-root #{&}__head{
    @at-root thead #{&}{
      border-bottom:0;
      @include has('text-center');
      &:empty{
        border:0;
      }
    }
  }
  @at-root #{&}__cell{
    &:not(:first-child){
      @include has('text-center');
    }
  }
}
}