.quote{
  position:relative;
  @include font-size(25px);
  padding: 1rem 3rem;
  line-height: 1.55;
  @include until('desktop'){
    @include font-size(20px);
  }
  &:before{
    @include is('absolute');
    @include font-size(70px);
    opacity:0.2;
  }
  &:before{
    content: '\eb1b';
    @include fly('top-left');
  }
  @at-root #{&}Wrap{
    
  }
  cite{
    display: block;
    @include calc-rem('margin-top', $font-size);
  }
}