.breadcrumb{
  font-size: 0;
  @at-root #{&}--boxed{
    background-color: map-get($colors, 'main');
  }
  @at-root #{&}Wrap{
  }
  @at-root #{&}__item{
    display: inline-block;
    &:not(:last-child){
      .breadcrumb__link{
        &:after{
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          @include calc-rem('right', -10px);
          @include fly('center-right');
        }
      }
    }
  }
  @at-root #{&}__list{
    @include is('inline');
  }
  @at-root #{&}__link{
    position: relative;
    display: block;
    padding: ($baseline / 2);
  }
}