.check{
  position:relative;
  input[type="checkbox"]{
    @include is('absolute');
    top:0;
    left:0;
    opacity:0;
    width:1px;
    height:1px;
    &:checked{
      & ~ .check__label{
        &:before{
          content: '\ee6e';
        }
      }
    }
    &:focus{
      & ~ .check__label {
        border: 1px solid map-get($colors, 'border');
      }
    }
  }
  @at-root #{&}__label{
    cursor: pointer;
    &:before{
      @include calc-rem('margin-right', 5px);
      @include font-size($font-size);
      display:inline-block;
    }
  }
}