.dropdown{
  position: relative;
  &[data-icon]{
    &:before, &:after{
      position: absolute;
    }
  }
  &:not([data-drivenby="js"]){
    &:hover, &:focus{
      .dropdown__content{
        opacity:1;
        pointer-events: all;
        transition: opacity 0.25s;
      }
    }
  }
  &[data-drivenby="js"]{
    &.is-active{
      .dropdown__content{
        opacity:1;
        pointer-events: all;
        transition: opacity 0.25s;
      }
    }
  }
  @at-root #{&}Wrap{

  }
  @at-root #{&}__content{
    position: absolute;
    display:block;
    @include setIndex(1);
    left:0;
    bottom:0;
    width:100%;
    @include calc-rem('padding', $baseline / 2);
    opacity:0;
    pointer-events: none;
    transition: opacity 0.25s;
  }
}