.hero{
  height: 100%;
  position: relative;
  @at-root #{&}Wrap{
    min-height: 100%;
    width: 100%;
    &[style]{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .hero{
        &:before{
          content:'';
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height: 100%;
          z-index: 0;
          pointer-events: none;
        }
      }
    }
  }
  @at-root #{&}__content{
    position: absolute;
    z-index: 1;
    @include fly('center');
    @at-root #{&}--left{
      @include fly('left');
    }
    @at-root #{&}--right{
      @include fly('right');
    }
  }
  @at-root #{&}__title{
    
  }
  @at-root #{&}__subtitle{

  }
}