.modal{
  @include is('fixed');
  @include setIndex(100);
  @include fly('center');
  @at-root #{&}Wrap{
    position: relative;
    input[type="checkbox"]{
      @include is('absolute');
      visibility: hidden;
      &:checked{
        & ~ .modal{

        }
      }
    }
  }
  @at-root #{&}__header{
    position: relative;
  }
  @at-root #{&}__close{
    @include is('absolute');
  }
  @at-root #{&}__body{
  }
  @at-root #{&}__content{
    @include setIndex(1);
    &:before{
      content: '';
      @include is('absolute');
      @include setIndex(0);
      @include fly('top-left');
      @include is('page-wide');
      background-color: rgba(map-get($colors, 'shadow'), 0.6);
    }
  }
  @at-root #{&}__footer{

  }
}