@if($isFlex == 1){
  .navbar{
    @include is('flex');
    @include flow('row', 'wrap');
    @include content('space-between');
    @include items('center');
    padding: $baseline / 2;
    @at-root #{&}Wrap{
    }
    @at-root #{&}__logo{
      @include calc-rem('max-width', 200px);
      @at-root #{&}Wrap{
      }
    }
    @at-root #{&}__nav{
      @at-root #{&}Wrap{

      }
    }
  }
} @else if($isFloat == 1){
  .navbar{
    @include is('inline');
    @at-root #{&}Wrap{
  
    }
    @at-root #{&}__logo{
      @include calc-rem('max-width', 200px);
      @at-root #{&}Wrap{
        @include is('inline-block');
        @include has('text-left');
        @include vAlign('middle');
        width: colWidth($columns / 2, $columns);
      }
    }
    @at-root #{&}__nav{
      @at-root #{&}Wrap{
        @include is('inline-block');
        @include has('text-right');
        @include vAlign('middle');
        width: colWidth($columns / 2, $columns);
      }
    }
  }
}