$positions: 'center-right', 'center-left', 'center-top', 'center-bot', 'top-left', 'top-right', 'bottom-left', 'bottom-right';
$rotate: 45 * 3, 45, 45 * 2, -45, 45, 45, 45, 45;
.popOver{
  position: relative;
  @include is('blunt');
  box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.4);
  @at-root #{&}Wrap{
    @include is('absolute');
    display:block;
    @for $i from 1 through 8{
      &[data-position="#{nth($positions, $i)}"]{
        @include fly(#{nth($positions, $i)});
      }
    }
  }

  @for $i from 1 through 8{
    &[data-tailposition="#{nth($positions, $i)}"]{
      &:before{
        content: '';
        @include is('absolute');
        @include fly(#{nth($positions, $i)}, #{nth($rotate, $i)});
        width: 0;
        height: 0;
        box-sizing: border-box;
        border: 7px solid black;
        border-color: transparent transparent map-get($colors, 'main') map-get($colors, 'main');
        transform-origin: 0 0;
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }
  @at-root #{&}__title{

  }
  @at-root #{&}__content{
    @include calc-rem('padding', (($baseline / 2) - 6));
    background-color: map-get($colors, 'main');
  }
}