.switch{
  position: relative;
  &:not([data-drivenby="js"]){
    input[type="checkbox"]{
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      opacity: 0;
      &:checked{
        & ~ {
          .switch__trigger{
            &:before{
              left: calc(100% - 24px);
              transition: left 0.25s ease-in-out;
              border:3px solid #93C78A;
            }
            &:after{
              left: 0;
              transition: left 0.25s ease-in-out;
            }
          }
        }
      }
      &:focus{
        & ~ .switch__trigger{
          @include add-focus();
        }
      }
    }
  }
  &[data-drivenby="js"]{
    &.active{
      .switch__trigger{
        &:before{
          left: calc(100% - 24px);
          transition: left 0.25s ease-in-out;
          border:3px solid #93C78A;
        }
        &:after{
          left: 0;
          transition: left 0.25s ease-in-out;
        }
      }
    }
  }
  @at-root #{&}__trigger{
    display: block;
    cursor: pointer;
    font-size: 0;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border-radius: 30px;
    @include calc-rem('padding', $baseline / 2);
    &:before{
      content: '';
      position: absolute;
      z-index: 1;
      @include calc-rem('width', 24px);
      @include calc-rem('height', 24px);
      top:50%;
      left: 0;
      transform: translateY(-50%);
      @include is('round');
      @include font-size($font-size);
      transition: left 0.25s ease-in-out;
      background-color: map-get($colors, 'main');
      border:3px solid #B92235;
    }
    &:after{
      content: '';
      position: absolute;
      height: 100%;
      top:50%;
      left:-100%;
      transform: translateY(-50%);
      z-index: 0;
      transition: left 0.25s ease-in-out;
      height: 100%;
      width: 200%;
      background: linear-gradient(90deg, #93C78A 50%, #B92235 50%);
    }
  }
}