.tooltip{
  @include is('absolute');
  @at-root #{&}__content{
    position: relative;
    @include is('blunt');
    background-color: map-get($colors, 'main');
    @include calc-rem('padding', (($baseline / 2) - 6));

    $positions: 'center-right', 'center-left', 'center-top', 'center-bottom', 'top-left', 'top-right', 'bottom-left', 'botom-right';
    @for $i from 1 through $positions{
      @at-root [data-tailposition="#{nth($position, $i)}"] #{&}{
        @include fly(#{nth($position, $i)});
      }
    }

  }
}