@mixin generateColumns() {
  $isPlural: '';

  @if($isFlex==1) {
    .span {
      padding: 0 $gutter;
      flex: 1 0 auto;
    }

    .span\:auto {
      padding: 0 $gutter;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }

  @else if($isFloat==1) {
    .span {
      padding: 0 $gutter;
      width: auto;
    }

    .span\:auto {
      padding: 0 $gutter;
      width: auto;
      max-width: 100%;
    }
  }

  @for $i from 1 through $columns {
    .span\:#{nth($columnName, $i)} {
      padding: 0 $gutter;

      @if($isFloat==1) {
        float: left;
        width: (100% / $columns) * $i;
      }

      @else if($isFlex==1) {
        flex: 0 0 (100% / $columns) * $i;
        max-width: (100% / $columns) * $i;
      }

      @at-root .is\:inline #{&} {
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
      }
    }

    @if($i==1) {
      $isPlural: 'column';
    }

    @else {
      $isPlural: 'columns';
    }

    .move\:#{nth($columnName, $i)}-#{$isPlural} {
      &.to\:left {
        margin-right: (100% / $columns) * $i;
      }

      &.to\:right {
        margin-left: (100% / $columns) * $i;
      }
    }
  }
}

@mixin generateFractions() {

  @each $element,
  $fraction in $fractions {
    .is\:#{$element} {
      width: $fraction;
      padding: 0 $gutter;

      @if($isFloat) {
        float: left;
      }

      @else if($isFlex==1) {
        flex: 0 0 auto;
      }
    }

    .move\:#{$element} {
      &.to\:left {
        margin-right: $fraction;
      }

      &.to\:right {
        margin-left: $fraction;
      }
    }
  }
}

@mixin generateRow() {
  @if($isFloat==1) {
    @include clearfix();
  }

  @else if($isFlex==1) {
    display: flex;
    flex-flow: row wrap;
  }
}